<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }} &middot; Desk Buddy</title>
    <link href="css/index.css" rel="stylesheet">
</head>
<body>
    <header class="container-fluid">{% include _navigation %}</header>
    <aside id="toasts"><div class="toast"></div></aside>
    <main class="container-fluid">
        <h1 class="h4"><span class="icon-{{ icon }} fa-2x align-middle"></span> {{ title }}</h1>
        <hr>
        {{ content }}
    </main>
    <footer class="container-fluid">
        <p class="small text-center">Copyright &copy; 2020-2021. All rights reserved.</p>
    </footer>

    <script src="scripts/global.js"></script>
    <script src="scripts/{{ page.fileSlug }}.js"></script>
</body>
</html>
