@font-face {
  font-family: 'icons';
  src:  url('../fonts/icons.woff?4tregd') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-backspace:before {
  content: "\e900";
}
.icon-bell:before {
  content: "\e90d";
}
.icon-calendar-alt:before {
  content: "\e901";
}
.icon-check:before {
  content: "\e902";
}
.icon-check-square:before {
  content: "\e903";
}
.icon-chevron-circle-right:before {
  content: "\e904";
}
.icon-clock:before {
  content: "\e905";
}
.icon-edit:before {
  content: "\e912";
}
.icon-exclamation-circle:before {
  content: "\e90f";
}
.icon-eye:before {
  content: "\e911";
}
.icon-file-contract:before {
  content: "\e906";
}
.icon-handshake:before {
  content: "\e907";
}
.icon-info-circle:before {
  content: "\e910";
}
.icon-laptop-house:before {
  content: "\e908";
}
.icon-minus-circle:before {
  content: "\e909";
}
.icon-plus-circle:before {
  content: "\e90a";
}
.icon-question-circle:before {
  content: "\e90e";
}
.icon-times:before {
  content: "\e90b";
}
.icon-wifi:before {
  content: "\e90c";
}
