@import './icons.css';
@import './fonts.css';
@import '~bootstrap';

body {
    color: #434343;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857142857143;
}

.container-fluid {
    padding-left: initial;
    padding-right: initial;
}

main.container-fluid {
    padding: 20px;
}

.btn.btn-link, .btn.btn-link:hover {
    color: inherit;
    text-decoration: none;
}
