@import './icons.css';
@import './fonts.css';
@import '~bootstrap';

body {
    color: #434343;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857142857143;
}

.container-fluid {
    padding-left: initial;
    padding-right: initial;
}

main.container-fluid {
    padding: 20px;
}

.btn.btn-link, .btn.btn-link:hover {
    color: inherit;
    text-decoration: none;
}

input[type=checkbox] + label {
    cursor: pointer;
}
input[type=checkbox]:checked + label > .icon-eye {
    color: var(--primary);
}

.toast {
    position: absolute;
    right: 1rem;
    top: 1rem;
}

.error {
    color: var(--danger);
}

.error ~ input, .error ~ input:focus {
    border-color: var(--danger);
}

.error ~ input:focus {
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, .25);
}

.error:before {
    content: '> ';
}

.required:after {
    content: ' *';
}
